 
.container--header-row-text {
    font-family: Arial, Helvetica, Sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: bold; 
    text-transform: capitalize;
    vertical-align: middle;

    display:inline-block;
    padding: 0px 0px 0px 0px;
    flex-direction: row !important;
    margin-top: -50px !important;
    margin-left: -40px !important;
    width: 100px !important;
    border-right: 1px solid rgb(253, 249, 249); 
}
.container--header-row-text-2 {
    font-family: Arial, Helvetica, Sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: bold; 
    text-transform: capitalize;
    vertical-align: middle;

    display:inline-block;
    padding: 0px 0px 0px 0px;
    flex-direction: row !important;
    margin-top: -50px !important;
    margin-left: -40px !important;
    width: 80px !important;
    border-right: 1px solid rgb(253, 249, 249); 
}
.container--header-row-text-3 {
    font-family: Arial, Helvetica, Sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: bold; 
    text-transform: capitalize;
    vertical-align: middle;

    display:inline-block;
    padding: 0px 0px 0px 0px;
    flex-direction: row !important;
    margin-top: -50px !important;
    margin-left: -15px !important;
    width: 80px !important;
    border-right: 1px solid rgb(253, 249, 249); 
}
.container--header-row-text-4 {
    font-family: Arial, Helvetica, Sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: bold; 
    text-transform: capitalize;
    vertical-align: middle;

    display:inline-block;
    padding: 0px 0px 0px 0px;
    flex-direction: row !important;
    margin-top: -50px !important;
    margin-left: 10px !important;
    width: 80px !important;
    border-right: 1px solid rgb(253, 249, 249); 
}
.paragraph--grid-item-title-instagram-1{
    font-size: 14px;
    line-height: 1.5em;
    color: rgb(160, 151, 151);
    margin-left: 100px !important;

}
.paragraph--grid-item-title-instagram-2{
    font-size: 24px;
    line-height: 2.5em;
    margin-top: -30px !important;
    margin-left: 100px !important;
    cursor: pointer;
}

.paragraph--grid-item-title-suscribite-1{
    font-size: 14px;
    line-height: 1.5em;
    color: rgb(160, 151, 151);
    margin-left: 100px !important;
}
.paragraph--grid-item-title-suscribite-2{
    font-size: 24px;
    line-height: 2.5em;
    margin-top: -30px !important;
    margin-left: 100px !important;
}
.paragraph--grid-item-title-suscribite-3{
    font-size: 12px;
    line-height: 1.5em;
    color: rgb(44, 43, 43);
    margin-left: 100px !important;
    margin-top: -40px !important;

}
.paragraph--input_email{
    font-size: 14px;
    line-height: 1.5em;
    color: rgb(160, 151, 151);
    margin-left: 100px !important;
    margin-top: -10px !important;
    width: 400px; 
    height: 40px; 
    border: 1px solid rgb(162, 154, 154);
    text-align: center;
}

.wrapper--footer-category-text{
    line-height: 1.5em;
    font-weight: bold; 
    font-size: 14px; 
    text-align: center; 
    display:inline-block; 
    margin-top: -5px !important;
 
    
}
.wrapper--footer-category-text-contact{
    line-height: 1.5em;
    font-weight: bold; 
    font-size: 14px; 
    text-align: center; 
    display:inline-block; 
    margin-top: 10px !important;
}
.wrapper--footer-category-text-puf{
    line-height: 1.5em;
    font-weight: bold; 
    font-size: 14px; 
    text-align: center; 
    display:inline-block; 
    margin-top: 10px !important;
}
.wrapper--footer-buy-text{
    line-height: 1.5em;
    font-weight: bold; 
    font-size: 14px; 
    text-align: center; 
    display:inline-block; 
    margin-top: -50px !important;
}
.wrapper--footer-buy-text-2{
    line-height: 1.5em;
    font-weight: bold; 
    font-size: 10px; 
    text-align: center; 
    display:inline-block; 
    margin-top: -10px !important;
    margin-left: 100px !important;
}

.paragraph--footer-siguenos-text-1{
    line-height: 1.5em;
    font-weight: bold; 
    font-size: 14px; 
    text-align: left; 
    display:inline-block; 
    margin-top: -50px !important;
}
.paragraph--footer-copyright-text{
    line-height: 1em;
    font-size: 14px;
    color: rgb(160, 151, 151);  
}

.paragraph--grid-row1-text-1{
    display: flex;
    justify-content: center;
    color: aliceblue;
    line-height: 2em;
    font-weight: bold; 
    text-align: center; 
    border: 2px solid rgb(252, 251, 251);
    cursor: pointer;
    width: 100px; 
    height: 40px;
    margin-top: -10px !important;
    margin-left: 0px !important; 
}
.paragraph--grid-row1-text-2{
    display: flex;
    justify-content: center;
    color: rgb(16, 17, 17);
    line-height: 2em;
    font-weight: bold; 
    text-align: center; 
    width: 100px; 
    height: 40px;
    margin-top: 60px !important;
    margin-left: 90px !important; 
}
.paragraph--grid-row1-text-3{
    display: flex;
    justify-content: center;
    color:transparent !important;
    line-height: 2em;
    font-weight: bold; 
    text-align: center; 
    width: 50px; 
    height: 40px;
    margin-top: -55px !important;
    margin-left: 118px !important; 
    border-bottom: 2px solid rgb(168, 162, 162);
}
.paragraph--grid-row1-text-4{
    display: flex;
    justify-content: center;
    color: rgb(79, 75, 75);
    line-height: 1em;
    text-align: center;
   
    width: 320px; 
    height: 40px;
    margin-top: 0px !important;
    margin-left: 0px !important; 
}
.paragraph--grid-row1-text-5{
    display: flex;
    justify-content: center;
    color: rgb(65, 63, 63);
    line-height: 1.5em; 
    text-align: center; 
    width: 120px; 
    height: 40px;
    margin-top: 0px !important;
    margin-left: 90px !important; 
} 
.paragraph--grid-row2-text-1 {
    display: flex;
    justify-content: center;
    color: rgb(16, 17, 17);
    line-height: 2em;
    font-weight: bold; 
    text-align: center; 
    width: 100px; 
    height: 40px;
    margin-top: 60px !important;
    margin-left:-120px !important; 
}
.paragraph--grid-row2-text-2{
    display: flex;
    justify-content: center;
    color:transparent !important;
    line-height: 2em;
    font-weight: bold; 
    text-align: center; 
    width: 50px; 
    height: 40px;
    margin-top: -55px !important;
    margin-left: -96px !important; 
    border-bottom: 2px solid rgb(142, 10, 10);
}
.paragraph--grid-row2-text-3 {
    display: flex;
    justify-content: center;
    color: rgb(66, 69, 69);
    line-height: 1.5em;
    text-align: center; 
    width: 220px; 
    height: 40px;
    margin-top: 30px !important;
    margin-left:-170px !important; 
}
.paragraph--grid-row2-text-4 {
    display: flex;
    justify-content: center;
    color: rgb(65, 63, 63);
    line-height: 1.5em; 
    text-align: center; 
    width: 120px; 
    height: 40px;
    margin-top: 40px !important;
    margin-left: -130px !important; 
}